astropy
fastparquet
matplotlib
numpy
pandas
pyerfa
git+https://github.com/matroxel/roman_imsim.git
scipy
scikit-learn
requests
h5py
roman_snpit_snappl==0.44.0
galsim==2.8.4
# The above hard requirements are temporary only!!!
psutils
